body
{
    background-color: #B5B5B5;
    font-family: monospace;
    font-size: 15px;
}     

#head
{
    background-image: url(img/lainhead.png);
    background-repeat: no-repeat;
    height: 220px;
}

#main
{
    width: 1024px;
    margin: 10px auto;
    border: 1px;
}

#menu
{
    float: left;
    width: 250px;
    min-height: 400px;
    margin: 5px 5px;
    background-image: url(img/menu.png);
    background-repeat: no-repeat;
}

#additional
{
    float: right;
    width: 200px;
    min-height: 400px;
    margin: 5px 5px;  
    background-image: url(img/additional.png);
    background-repeat: no-repeat;
}

#content
{
    float: left;
    padding: 10px;
    width: auto;
   }

#footer
{
    clear: both;    
}

ul
{
    list-style-type: none;
    list-style-image: url(img/ul.png);
}

a
{
    text-decoration: none;
}

a:link
{
    color: white;
}

a:hover
{
    color: black;    
}

a:visited
{
    color: black;    
}

a.active
{
    color: black;
    font-size: 17px;
}

p.menuitem
{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

